Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
variable_01 = 12
print(variable_01)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(variable_01)

int

4) Crear una variable que contenga tu nombre

In [6]:
mi_primer_nombre = 'Marcelo'
mi_segundo_nombre = 'Horacio'
mi_apellido = 'Correa'
mi_nombre_completo = mi_primer_nombre + ' ' + mi_segundo_nombre + ' ' + mi_apellido
print(mi_nombre_completo)

Marcelo Horacio Correa

5) Crear una variable que contenga un número complejo

In [9]:
var_compleja = 3 + 4j
print(var_compleja)
print(2*var_compleja)

<class 'complex'>
(3+4j)
(6+8j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
print(type(var_compleja))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [26]:
import math
print(round((math.pi), 4))

3.1416
3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [29]:
var_TRUE = 'True'
var_True = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [28]:
print(type(var_TRUE))
print(type(var_True))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [31]:
var_suma = 12 + 5.8
print(var_suma)

17.8

11) Realizar una operación de suma de números complejos

In [32]:
print(2+2j + 3-3j)

(5-1j)

12) Realizar una operación de suma de un número real y otro complejo

In [33]:
print(2+2j + 3)

(5+2j)

13) Realizar una operación de multiplicación

In [34]:
print(12.3 * 2.5)

30.75

14) Mostrar el resultado de elevar 2 a la octava potencia

In [39]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [40]:
print(27/4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [41]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [42]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [43]:
print(6*4+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [44]:
var_a = 'primero'
var_b = 'segundo'
print(var_a + ' ' + var_b)

primero segundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [45]:
print(2 == '2')

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [47]:
print(str(2) == '2')
print(2 == int('2'))

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [48]:
print(a = float('3,8'))

# usa coma y no punto para los decimales

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [49]:
var_3 = 3
var_3 -=2
print(var_3)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [50]:
print(1<<2)
# 0001(1) << 0100(4)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [54]:
print(2 + 2)
print(type(2 + 2))
print('2' + '2')
print(type('2' + '2'))
print(2 + '2')

4
<class 'int'>
22
<class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [56]:
var_num = 2
var_str = 'Boeing '
print(var_num * var_str + '- se repite ' + str(var_num) + ' veces')

Boeing Boeing - se repite 2 veces