1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
numero = 12
print(numero)

12

2) Imprimir el tipo de dato de la constante 8.5

In [1]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
nombre_apellido = 'Marcelo Correa'
print(nombre_apellido)

Marcelo Correa

5) Crear una variable que contenga un número complejo

In [9]:
complejo = 4 + 8j
print(complejo)

(4+8j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [6]:
import math
print(round((math.pi),4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
true1 = 'True'
true2 = True
print(true1)
print(true2)
print(true1==true2)

True
True
False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [11]:
print(type(true1))
print(type(true2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
ver = 12 + 8.5
print(ver)

20.5

11) Realizar una operación de suma de números complejos

In [13]:
complejo2 = (4+8j) + (3+1j)
print(complejo2)

(7+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
print((4+5j)+3)

(7+5j)

13) Realizar una operación de multiplicación

In [15]:
print(3*4)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [17]:
div = 27/4
print(div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
print(int(div))
print(27//4)

6
6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
print(27//4*4+27%4)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
print('alfa1'*2+4*' '+'alfa2')

alfa1alfa1    alfa2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
print('2'==2)
print(type('2'))
print(type(2))

False
<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
print((int('2'))==2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a = float('3.8')
# usa coma y no punto para los decimales

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [32]:
valor = 3
valor -= 2
print(valor)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
print(1<<2)
print(1<<3)
print(1<<4)
print(2<<3)

4
8
16
16

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
print(2+2)
print('2'+'2')

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [46]:
print('asd '*3)
print('numero: '+str(123))

asd asd asd
numero: 123